<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :order_id %>

  <%= render 'form/text_field', form: form, column: :reference_number %>

  <%= render 'form/select', form: form, column: :payment_type, options_var: options_for_select(%w[převodem hotově], @invoice.payment_type) %>

  <%= render 'form/date_select', form: form, column: :date_of_issue %>

  <%= render 'form/date_select', form: form, column: :due_date %>

  <%= render 'form/date_select', form: form, column: :date_of_taxable_supply %>

  <%= render 'form/number_field', form: form, column: :tax_base %>

  <%= render 'form/number_field', form: form, column: :vat %>

  <%= render 'form/number_field', form: form, column: :to_be_paid %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
