<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form/text_field', form: form, column: :email %>

  <%= render 'form/password_field', form: form, column: :password %>

  <%= render 'form/password_field', form: form, column: :password_confirmation %>

  <%= render 'form/text_field', form: form, column: :name %>

  <%= render 'form/text_field', form: form, column: :phone %>

  <%= render 'form/text_field', form: form, column: :web %>

  <% if current_user.manager_or_admin? %>

    <%= render 'form/check_box', form: form, column: :manager %>

    <%= render 'form/check_box', form: form, column: :driver %>

  <% end %>

  <br/>

    <div class="form-group row">
      <div class="offset-4 col-8">
        <%= form.button 'Uložit' %>
      </div>
    </div>
<% end %>
