<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form/text_field', form: form, column: :name %>

  <%= render 'form/text_field', form: form, column: :address %>

  <%= render 'form/text_field', form: form, column: :phone %>

  <%= render 'form/text_field', form: form, column: :email %>

  <%= render 'form/number_field', form: form, column: :ic %>

  <%= render 'form/text_field', form: form, column: :dic %>

  <%= render 'form/select', form: form, column: :kind, options_var: options_for_select([['Dopajo', 0], ['Zadavatel', 1], ['Firma', 2]], @customer.kind) %>

  <div class="actions">
    <%= form.button 'Uložit' %>
  </div>
<% end %>
