<p id="notice"><%= notice %></p>

<h1><%= Customer.model_name.human(count: 2) %></h1>

<table class="niceTable">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.customer.name' %></th>
      <th><%= t 'activerecord.attributes.customer.address' %></th>
      <th><%= t 'activerecord.attributes.customer.phone' %></th>
      <th><%= t 'activerecord.attributes.customer.email' %></th>
      <th><%= t 'activerecord.attributes.customer.ic' %></th>
      <th><%= t 'activerecord.attributes.customer.dic' %></th>
      <th colspan="3"><%= link_to 'Nový zákazník', new_customer_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.ic %></td>
        <td><%= customer.dic %></td>
        <td>
          <%= link_to fa_icon('eye 2x'), customer %>
          <%= link_to fa_icon('edit 2x'), edit_customer_path(customer) %>
          <%= link_to fa_icon('trash 2x'), customer, method: :delete, data: { confirm: 'Opravdu smazat??' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
