<p id="notice"><%= notice %></p>

<h1><%= t 'zakazka.' + params[:scope].to_s %><%= Order.model_name.human(count: 2) %></h1>

<table class="niceTable">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.order.datum' %></th>
      <th><%= t 'activerecord.attributes.order.label' %></th>
      <th><%= t 'activerecord.attributes.order.origin_id' %></th>
      <th><%= t 'activerecord.attributes.order.destination_id' %></th>
      <th><%= t 'activerecord.attributes.order.fix_price' %></th>
      <th><%= t 'activerecord.attributes.order.full_price' %></th>
      <th><%= t 'activerecord.attributes.order.customer_id' %></th>
      <th colspan="3"><%= link_to 'Nová zakázka', new_order_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= format_date order.datum %></td>
        <td><%= order.label %></td>
        <td><%= order.origin.name %></td>
        <td><%= order.destination.name %></td>
        <td><%= ano_ne order.fix_price %></td>
        <td><%= format_currency order.full_price, order.currency %></td>
        <td><%= order.customer.name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Opravdu smazat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
