<% jhtrans_obj = Customer.jhtrans.first %>
<br/>

<style type="text/css">
    table.tableizer-table {
        font-size: 18px;
        border: 0px solid white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 30px;
        margin-right: 20px;
    }

    .tableizer-table td {
        padding-left: 15px;
        margin: 3px;
        border: 0px solid white;
    }

    .tableizer-table th {
        font-size: 22px;
        font-weight: bold;
    }

    <% [:left, :right, :top, :bottom].each do |dir| %>
      .<%= dir %> { border-<%= dir %>: 1px solid black !important; }
      .<%= dir %>_d { border-<%= dir %>: 3px solid black !important; }
    <% end %>
</style>
<table class="tableizer-table">
  <tbody>
  <tr>
    <th colspan="11" class="left_d top_d right_d bottom_d">FAKTURA - DAŇOVÝ DOKLAD č. <%= @invoice.reference_number %></th>
  </tr>
  <tr>
    <% wid = '250px' %>
    <td width="<%= wid %>" class="left_d">&nbsp;</td>
    <td width="<%= wid %>">&nbsp;</td>
    <td width="<%= wid %>">&nbsp;</td>
    <td width="<%= wid %>">&nbsp;</td>
    <td width="<%= wid %>">&nbsp;</td>
    <td width="<%= wid %>" class="left_d">&nbsp;</td>
    <td width="<%= wid %>">&nbsp;</td>
    <td width="<%= wid %>">&nbsp;</td>
    <td width="<%= wid %>">&nbsp;</td>
    <td width="<%= wid %>">&nbsp;</td>
    <td width="<%= wid %>" class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="left_d">Dodavatel:</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="2" class="left_d">Objednatel:</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">Název:</td>
    <td colspan="2"><%= jhtrans_obj.name %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left_d">Název:</td>
    <td colspan="4"><%= @invoice.customer.name %></td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">Adresa:</td>
    <td colspan="2"><%= "#{jhtrans_obj.street} #{jhtrans_obj.number}" %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left_d">Adresa:</td>
    <td colspan="4"><%= "#{@invoice.customer.street} #{@invoice.customer.number}" %></td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td colspan="2"><%= "#{jhtrans_obj.psc} #{jhtrans_obj.city}" %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left_d">&nbsp;</td>
    <td colspan="4"><%= "#{@invoice.customer.psc} #{@invoice.customer.city}" %></td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td colspan="2"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left_d">&nbsp;</td>
    <td colspan="3">&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">IČ:</td>
    <td colspan="2"><%= jhtrans_obj.ic %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left_d">IČ:</td>
    <td colspan="4"><%= @invoice.customer.ic %></td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">DIČ:</td>
    <td colspan="2"><%= jhtrans_obj.dic %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left_d">DIČ:</td>
    <td colspan="4"><%= @invoice.customer.dic %></td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d top_d">Banka:</td>
    <td class="top_d">&nbsp;</td>
    <td class="left bottom top_d right_d" colspan="3"><%= jhtrans_obj.bank %></td>
    <td class="left_d top_d" colspan="4">Forma úhrady:</td>
    <td class="left bottom top_d right_d" colspan="2"><%= @invoice.payment_type %></td>
  </tr>
  <tr>
    <td class="left_d">SWIFT:</td>
    <td>&nbsp;</td>
    <td class="left" colspan="3"><%= jhtrans_obj.swift %></td>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d top bottom" colspan="5"> IBAN: <%= jhtrans_obj.iban %></td>
    <td class="left_d" colspan="4">Datum vystavení:</td>
    <td class="left top bottom right_d" colspan="2"><%= format_date @invoice.date_of_issue %></td>
  </tr>
  <tr>
    <td class="left_d" colspan="2">Číslo účtu:</td>
    <td class="left bottom" colspan="3"><%= jhtrans_obj.bank_account %></td>
    <td class="left_d" colspan="4">Datum splatnosti:</td>
    <td class="left bottom right_d" colspan="2"><%= format_date @invoice.due_date %></td>
  </tr>
  <tr>
    <td class="left_d bottom">VS</td>
    <td class="bottom">&nbsp;</td>
    <td class="left bottom" colspan="3"><%= @invoice.reference_number %></td>
    <td class="left_d" colspan="4"> Datum zdanitelného plnění:</td>
    <td class="left bottom right_d" colspan="2"><%= format_date @invoice.date_of_taxable_supply %></td>
  </tr>
  <tr>
    <td class="left_d bottom" colspan="5">Označení objednávky: <%= @invoice.order.label %></td>
    <td class="bottom_d left_d right_d" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d bottom" colspan="4"></td>
    <td class="bottom left" colspan="2">Cena</td>
    <td class="bottom left">% DPH</td>
    <td class="bottom left" colspan="2">DPH</td>
    <td class="bottom left right_d" colspan="2">Celkem s DPH</td>
  </tr>
  <tr class="left_d">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left">&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left">&nbsp;</td>
    <td class="left" colspan="2">&nbsp;</td>
    <td class="left">&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <% @invoice.invoice_lines.each do |line| %>
    <tr>
      <td class="left_d" colspan="4"><%= line.label %></td>
      <td class="left" colspan="2" align="right" style="padding-right: 15px"><%= format_currency line.price, @invoice.currency %></td>
      <td class="left" align="right" style="padding-right: 15px"><%= format_currency line.vat_percent, '%', 0 %></td>
      <td class="left" align="right" style="padding-right: 15px" colspan="2"><%= format_currency line.vat, @invoice.currency %></td>
      <td class="left right_d" colspan="2" align="right" style="padding-right: 15px"><%= format_currency line.price_with_vat, @invoice.currency %></td>
    </tr>
  <% end %>
  <% 8.times do %>
    <tr class="left_d">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="left">&nbsp;</td>
      <td>&nbsp;</td>
      <td class="left">&nbsp;</td>
      <td class="left" colspan="2">&nbsp;</td>
      <td class="left">&nbsp;</td>
      <td class="right_d">&nbsp;</td>
    </tr>
  <% end %>
  <tr class="left_d">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left bottom">&nbsp;</td>
    <td class="bottom">&nbsp;</td>
    <td class="left bottom">&nbsp;</td>
    <td class="left bottom" colspan="2">&nbsp;</td>
    <td class="left bottom">&nbsp;</td>
    <td class="bottom right_d">&nbsp;</td>
  </tr>
  <tr class="left_d">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="3">Základ DPH:</td>
    <td class="right_d" colspan="2" align="right" style="padding-right: 15px"><%= format_currency @invoice.tax_base, @invoice.currency %></td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="3">DPH: 21%</td>
    <td class="right_d" colspan="2" align="right" style="padding-right: 15px"><%= format_currency @invoice.vat, @invoice.currency %></td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="3">Celkem k úhradě:</td>
    <td class="right_d" colspan="2" align="right" style="padding-right: 15px"><%= format_currency @invoice.to_be_paid, @invoice.currency %></td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">Vystavil:</td>
    <td colspan="3"><%= @invoice.user.name %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">Telefon:</td>
    <td colspan="3"><%= @invoice.user.phone %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">E-mail:</td>
    <td colspan="3"><%= @invoice.user.email %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">Web:</td>
    <td colspan="3"><%= @invoice.user.web %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="left_d">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="right_d">&nbsp;</td>
  </tr>
  <tr>
    <td class="bottom_d left_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d">&nbsp;</td>
    <td class="bottom_d right_d">&nbsp;</td>
  </tr>
  </tbody>
</table>
