<!DOCTYPE html>
<html>
  <head>
    <title>Doprava</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/menu" %>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    <% if current_user.admin? %>
      <div id="current_users"> Currently active users: <%= current_users_list %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
