<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "DOPAJA" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <div class="logo">
              <%= link_to "DOPAJO", root_path %>
            </div>
          </header>

          <section class="simple-post">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="down-content">
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>

      <%= render 'layouts/sidebar' %>

    </div>
  </body>
  </html>
